body {
  color: #333;
  font-family: "PT Sans", sans-serif;
}

#main {
  width: 960px;
  margin: 2em auto 4em auto;
}

#wrapper {
  margin-left: -65px;
}

a { 
    color: blue;
}

a:not(:hover) {
    text-decoration: none;
}

h1 {
  font-size: 45px;
  margin: .3em 0 .1em 0;
}

body p {
  font-size: 13px;
}

#footer {
  margin-top: 0px;
}

#tooltip { 
  position: absolute;              
  padding: 1px 3px;    
  background: white; 
  border: 1px solid grey;    
  border-radius: 1px;     
  pointer-events: none;   
  text-align: center;
  white-space: nowrap;
}

#tooltip p { 
  margin: 0px;
  padding: 0px;
  font-size: 10px;
}

circle {
  fill: #c5d7ea;
  stroke: black;
  stroke-width: 0.5px;
}

.buy {
  fill: green;
}

.sell {
  fill: #ff5959;
}

.hover {
  stroke-width: 2px;
}

.grid-line {
  stroke: #f1efef;
  stroke-width: 1px;
}